<br /><br />
<form action="/user/dashboad/category/addCategory" method="post">
  <label for="addcategory">Add Category</label>
  <input
    type="text"
    name="category"
    id="category"
    placeholder="Your Category..."
    required
  />
  <br />
  <br />
  <label for="">Add Category</label>
  <input
    type="text"
    name="subcategory"
    id="subcategory"
    placeholder="Your Sub Category..."
    required
  />
  <br />

  <input type="submit" id="category" value="Add Details" />
</form>

<%= subcatageory %>


