<h1>This is Dashboad Page</h1>

<p>Name : <%= locals.user.name %></p>

<button>
  <a href="./dashboad/storeInfo">Add Store Info</a>
</button>
<br /><br />

<button><a href="./dashboad/category">Add Category</a></button>
<br /><br />

<button><a href="./dashboad/inventory">Add Inventory</a></button>
