<style>
  * {
  font-family: sans-serif;
}

#main-body {
  height: 70%;
  width: 40%;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 10px;
  margin: 4% 0% 0% 27%;
  padding: 5px;
}

h1{
    text-align: center;
}

#content{
    margin-left: 30%;
}

#addproduct{
    margin-top: 5px;
    margin-left: 60px;
}
</style>

<div id="main-body">
  <h1>Add Your Inventroy</h1>
  <div id="content">
    

    <form
      action="/user/dashboad/inventory/addinventory"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="">Select Your Category</label>
      <select
        id="category"
        onchange="updateSubcategories()"
        name="category"
        required
      >
        <option disabled selected>Category</option>
        <% for (const category in data) { %>
        <option value="<%= category %>"><%= category %></option>
        <%}%></select
      ><br /><br />

      <label for="">Select Your Subcategory</label>
      <select id="subcategory" name="subcategory" required>
        <option disabled selected>Subategory</option></select
      ><br /><br />

      <label for="">Product Name : </label>
      <input
        type="text"
        name="productname"
        id="productname"
        ,
        placeholder="Product Name..."
        required
      />
      <br /><br />

      <label for="">MRP : </label>
      <input
        type="number"
        name="mrp"
        id="mrp"
        ,
        placeholder="Product MRP..."
        required
      /><br /><br />

      <label for="">SP : </label>
      <input
        type="number"
        name="sp"
        id="sp"
        ,
        placeholder="Product SP..."
        required
      /><br /><br />

      <label for="">QTY : </label>
      <input
        type="number"
        name="qty"
        id="qty"
        ,
        placeholder="Product QTY..."
        required
      /><br /><br />

      <label for="">Image : </label>
      <input
        type="file"
        name="file"
        id="productimg"
        placeholder="Product SP..."
      /><br /><br />

      <input type="submit" id="addproduct" value="Add Product" />
    </form>
  </div>
</div>

<script src="/js/srcipt.js"></script>
