.stores-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin: 10px 0px;
}

.stores-container{
    padding: 10px;
}

.store-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}