body {
    font-family: sans-serif;
}

#page-title {
    margin-top: 120px;
    text-shadow: 2px 2px #ddd;
    font-size: 50px;
}

form {
    width : 400px;
    background-color: #f4f7f8;
    margin: 10px auto;
    padding: 20px 60px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

#email, #password {
    border: none;
    background-color: #e8eeef;
    color: #8a97a0;
    font-size: 16px;
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
}

#login-in {
    width: 100%;
    padding: 20px 40px;
    background-color: #4576C1;
    color: #fff;
    border: 1px solid #43bd67;
    font-size: 18px;
    border-radius: 6px;
    margin-top: 18px;
}

#login-in:hover {
    background-color: #5D41C0;
}

#register {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: 700;
}